@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'outfit', "sans serif";
}

html,
body {
  scroll-behavior: smooth !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.bottom-line {
  background-image: linear-gradient(90deg, transparent, #fff, transparent);
  opacity: 80%;
}

.faq-gradient-border {
  position: relative;
  border: 1px solid transparent;
  border-radius: 12px;
}


.faq-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(103.52deg, #3A3EF5 18.99%, #32C8F1 82.34%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

@media(min-width:768px) {
  .border-gradient {
    position: relative;
  }

  .border-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
}